<main>
  <section class="container">
    <h1 class="display-4">About Us</h1>
    <p class="lead">
      The Jungle was founded based on an dream and an idea. We've been in the
      plant business for over 15 years, and just want to provide you with all
      your plant needs. If there is something you don't see in stock, feel free
      to send us a message to check when it'll be back in.
    </p>
    <div class="container">
      <img
        class="img-fluid rounded mx-auto d-block"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmWdFH-sX69jbNPMfXgsRqVFuOjiVZ3YQ_2Q&usqp=CAU"
      />
    </div>
  </section>
</main>
